<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>chatServlet</servlet-name>
		<servlet-class>no.eirikb.gwtchannelapi.server.ChannelServer</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>chatServlet</servlet-name>
		<url-pattern>/GwtChannelApiDemo/chat</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>GwtChannelApiDemo.html</welcome-file>
	</welcome-file-list>
</web-app>
